html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-font-smoothing: antialiased;
  font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.MathJax_Display {
  display: flex;
  padding: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }
  .MathJax_Display .MathJax {
    display: inline-block;
    width: 100%; }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 16px; }

body {
  overflow-x: hidden; }

img {
  vertical-align: middle;
  max-width: 100%; }

.markdown-body, .md {
  /* Separate line b/c rules are thrown out if selector is invalid.
   * IE11 and old Edge versions don't support :focus-within. */ }
  .markdown-body, .md {
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.75;
    max-width: 800px;
    min-width: 200px;
    margin: 0 auto;
    padding: 0 16px;
    font-size: 1rem;
    margin-top: calc(56px + 5rem);
    margin-bottom: 5rem;
    overflow-x: hidden;
    font-weight: 400;
    letter-spacing: 0.2px; }
    .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6,
    .markdown-body b, .markdown-body strong, .md h1, .md h2, .md h3, .md h4, .md h5, .md h6,
    .md b, .md strong {
      font-weight: bold; }
    .markdown-body p, .md p {
      margin: 1em 0; }
    .markdown-body a, .md a {
      color: inherit;
      border-bottom: 1px solid rgba(0, 0, 0, 0.8);
      cursor: pointer; }
    .markdown-body hr, .md hr {
      border: none;
      margin: 1rem 0;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.08); }
    .markdown-body b, .markdown-body strong, .md b, .md strong {
      font-weight: 500; }
    .markdown-body sup, .markdown-body sub, .md sup, .md sub {
      font-size: smaller;
      line-height: 1; }
    .markdown-body sup, .md sup {
      vertical-align: super; }
    .markdown-body sub, .md sub {
      vertical-align: sub; }
  .markdown-body .anchor::before, .markdown-body h1::before, .markdown-body h2::before, .markdown-body h3::before, .markdown-body h4::before, .markdown-body h5::before, .markdown-body h6::before, .md .anchor::before, .md h1::before, .md h2::before, .md h3::before, .md h4::before, .md h5::before, .md h6::before {
    content: "";
    display: block;
    margin-top: calc(-1em - 56px);
    height: calc(1em + 56px);
    visibility: hidden; }
  .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6, .md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
    line-height: 1.5;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 500;
    position: static; }
  .markdown-body h1, .md h1 {
    font-size: 2rem; }
  .markdown-body h2, .md h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1.125rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
  .markdown-body h3, .md h3 {
    font-size: 1.25rem; }
  .markdown-body h4, .md h4 {
    font-size: 1.125rem; }
  .markdown-body h5, .md h5 {
    font-size: 1rem; }
  .markdown-body h6, .md h6 {
    font-size: 1rem;
    opacity: 0.48; }
  .markdown-body .title, .md .title {
    margin-bottom: 3rem; }
    .markdown-body .title h1, .md .title h1 {
      margin-top: 0;
      margin-bottom: 0; }
    .markdown-body .title h3, .md .title h3 {
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-weight: normal; }
    .markdown-body .title p, .md .title p {
      font-size: 0.875rem;
      margin-top: 0.75rem;
      margin-bottom: 0; }
  .markdown-body blockquote, .md blockquote {
    margin: 1.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0px 1rem; }
  .markdown-body img, .markdown-body figure, .md img, .md figure {
    margin: 0 auto; }
  .markdown-body > figure,
  .markdown-body > img,
  .markdown-body > p > img, .md > figure,
  .md > img,
  .md > p > img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  @media only screen and (max-width: calc(800px - 32px)) {
    .markdown-body > figure img,
    .markdown-body > p > img, .md > figure img,
    .md > p > img {
      max-width: calc(100% + 32px);
      width: auto;
      margin-left: -1rem; } }
  .markdown-body figure figcaption, .md figure figcaption {
    text-align: left;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.4); }
    .markdown-body figure figcaption p:first-of-type, .md figure figcaption p:first-of-type {
      margin-top: 0; }
    .markdown-body figure figcaption p:last-of-type, .md figure figcaption p:last-of-type {
      margin-bottom: 0; }
  .markdown-body ul, .markdown-body ol, .md ul, .md ol {
    padding-left: 2rem; }
  .markdown-body ol, .md ol {
    list-style-type: decimal; }
  .markdown-body li ol, .md li ol {
    list-style-type: lower-roman; }
  .markdown-body li li ol, .md li li ol {
    list-style-type: lower-alpha; }
  .markdown-body ul, .md ul {
    list-style-type: disc; }
  .markdown-body li ul, .md li ul {
    list-style-type: circle; }
  .markdown-body li li ul, .md li li ul {
    list-style-type: square; }
  .markdown-body ul .task-list-item, .md ul .task-list-item {
    list-style-type: none; }
    .markdown-body ul .task-list-item input, .md ul .task-list-item input {
      margin-left: -1.25rem;
      -webkit-transform: translate(0, -50%);
      margin-top: 0.875rem;
      vertical-align: middle; }
    .markdown-body ul .task-list-item input:checked +, .md ul .task-list-item input:checked + {
      color: red !important;
      text-decoration: line-through !important; }
  .markdown-body details, .md details {
    margin: 1rem 0;
    margin-left: 1rem; }
    .markdown-body details summary, .md details summary {
      font-weight: bold;
      margin-left: -1rem; }
  .markdown-body table, .md table {
    text-align: left;
    margin: 1.5rem 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
    .markdown-body table *, .md table * {
      vertical-align: middle; }
    .markdown-body table th, .md table th {
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.02); }
    .markdown-body table th, .markdown-body table td, .md table th, .md table td {
      padding: 0.5rem 1rem;
      border: 1px solid #ebebeb; }
    .markdown-body table th:hover, .md table th:hover {
      background-color: rgba(0, 0, 0, 0.04); }
    .markdown-body table td:hover, .md table td:hover {
      background-color: rgba(0, 0, 0, 0.02); }
  .markdown-body pre[class*="language-"], .md pre[class*="language-"] {
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 1.25rem; }
  .markdown-body pre[class*="language-"].line-numbers, .md pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.75em;
    counter-reset: linenumber; }
  .markdown-body pre[class*="language-"].line-numbers > code, .md pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit; }
  .markdown-body .line-numbers .line-numbers-rows, .md .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.75em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #d6d6d6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .markdown-body .line-numbers-rows > span, .md .line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber; }
  .markdown-body .line-numbers-rows > span:before, .md .line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #adadad;
    display: block;
    padding-right: 0.75em;
    text-align: right; }
  .markdown-body div.code-toolbar, .md div.code-toolbar {
    position: relative; }
  .markdown-body div.code-toolbar > .toolbar, .md div.code-toolbar > .toolbar {
    position: absolute;
    cursor: default;
    top: 0;
    right: 0.5rem;
    opacity: 1; }
  .markdown-body div.code-toolbar:hover > .toolbar, .md div.code-toolbar:hover > .toolbar {
    opacity: 1; }
  .markdown-body div.code-toolbar:focus-within > .toolbar, .md div.code-toolbar:focus-within > .toolbar {
    opacity: 1; }
  .markdown-body div.code-toolbar > .toolbar .toolbar-item, .md div.code-toolbar > .toolbar .toolbar-item {
    display: inline-block; }
  .markdown-body div.code-toolbar > .toolbar a, .md div.code-toolbar > .toolbar a {
    cursor: pointer; }
  .markdown-body div.code-toolbar > .toolbar button, .md div.code-toolbar > .toolbar button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
  .markdown-body div.code-toolbar > .toolbar a,
  .markdown-body div.code-toolbar > .toolbar button,
  .markdown-body div.code-toolbar > .toolbar span, .md div.code-toolbar > .toolbar a,
  .md div.code-toolbar > .toolbar button,
  .md div.code-toolbar > .toolbar span {
    color: rgba(0, 0, 0, 0.24);
    font-size: 0.75rem;
    line-height: 1;
    font-weight: bold; }
  .markdown-body div.code-toolbar > .toolbar a:hover,
  .markdown-body div.code-toolbar > .toolbar a:focus,
  .markdown-body div.code-toolbar > .toolbar button:hover,
  .markdown-body div.code-toolbar > .toolbar button:focus,
  .markdown-body div.code-toolbar > .toolbar span:hover,
  .markdown-body div.code-toolbar > .toolbar span:focus, .md div.code-toolbar > .toolbar a:hover,
  .md div.code-toolbar > .toolbar a:focus,
  .md div.code-toolbar > .toolbar button:hover,
  .md div.code-toolbar > .toolbar button:focus,
  .md div.code-toolbar > .toolbar span:hover,
  .md div.code-toolbar > .toolbar span:focus {
    text-decoration: none; }
  .markdown-body code,
  .markdown-body code[class*="language-"],
  .markdown-body pre[class*="language-"], .md code,
  .md code[class*="language-"],
  .md pre[class*="language-"] {
    color: #333333;
    font-size: 1rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
  .markdown-body *:not(pre) > code[class*="language-"],
  .markdown-body *:not(pre) > code, .md *:not(pre) > code[class*="language-"],
  .md *:not(pre) > code {
    margin: 0;
    padding: 0 2px; }
  .markdown-body *:not(pre) > code, .md *:not(pre) > code {
    color: #5c5c5c; }
  .markdown-body pre[class*="language-"]::-moz-selection, .markdown-body pre[class*="language-"] ::-moz-selection,
  .markdown-body code[class*="language-"]::-moz-selection, .markdown-body code[class*="language-"] ::-moz-selection, .md pre[class*="language-"]::-moz-selection, .md pre[class*="language-"] ::-moz-selection,
  .md code[class*="language-"]::-moz-selection, .md code[class*="language-"] ::-moz-selection {
    text-shadow: none; }
  .markdown-body pre[class*="language-"]::selection, .markdown-body pre[class*="language-"] ::selection,
  .markdown-body code[class*="language-"]::selection, .markdown-body code[class*="language-"] ::selection, .md pre[class*="language-"]::selection, .md pre[class*="language-"] ::selection,
  .md code[class*="language-"]::selection, .md code[class*="language-"] ::selection {
    text-shadow: none; }
  @media print {
    .markdown-body code[class*="language-"],
    .markdown-body pre[class*="language-"], .md code[class*="language-"],
    .md pre[class*="language-"] {
      text-shadow: none; } }
  .markdown-body pre[class*="language-"], .md pre[class*="language-"] {
    margin: 1rem 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
  .markdown-body *:not(pre) > code[class*="language-"],
  .markdown-body *:not(pre) > code,
  .markdown-body pre[class*="language-"], .md *:not(pre) > code[class*="language-"],
  .md *:not(pre) > code,
  .md pre[class*="language-"] {
    border-radius: 4px; }
  .markdown-body *:not(pre) > code[class*="language-"],
  .markdown-body *:not(pre) > code, .md *:not(pre) > code[class*="language-"],
  .md *:not(pre) > code {
    margin: 0;
    padding: 2px;
    background: rgba(0, 0, 0, 0.04);
    white-space: normal; }
  .markdown-body *:not(pre) > code, .md *:not(pre) > code {
    color: #5c5c5c; }
  .markdown-body .token.comment,
  .markdown-body .token.prolog,
  .markdown-body .token.doctype,
  .markdown-body .token.cdata, .md .token.comment,
  .md .token.prolog,
  .md .token.doctype,
  .md .token.cdata {
    color: #c2c2c2; }
  .markdown-body .token.punctuation, .md .token.punctuation {
    color: #858585; }
  .markdown-body .namespace, .md .namespace {
    opacity: 0.7; }
  .markdown-body .token.property,
  .markdown-body .token.tag,
  .markdown-body .token.boolean,
  .markdown-body .token.number,
  .markdown-body .token.constant,
  .markdown-body .token.symbol,
  .markdown-body .token.deleted, .md .token.property,
  .md .token.tag,
  .md .token.boolean,
  .md .token.number,
  .md .token.constant,
  .md .token.symbol,
  .md .token.deleted {
    color: #be2db4; }
  .markdown-body .token.selector,
  .markdown-body .token.attr-name,
  .markdown-body .token.string,
  .markdown-body .token.char,
  .markdown-body .token.builtin,
  .markdown-body .token.inserted, .md .token.selector,
  .md .token.attr-name,
  .md .token.string,
  .md .token.char,
  .md .token.builtin,
  .md .token.inserted {
    color: #21b460; }
  .markdown-body .token.operator,
  .markdown-body .token.entity,
  .markdown-body .token.url,
  .markdown-body .language-css .token.string,
  .markdown-body .style .token.string, .md .token.operator,
  .md .token.entity,
  .md .token.url,
  .md .language-css .token.string,
  .md .style .token.string {
    color: #c76f1e; }
  .markdown-body .token.atrule,
  .markdown-body .token.attr-value,
  .markdown-body .token.keyword, .md .token.atrule,
  .md .token.attr-value,
  .md .token.keyword {
    color: #307FEC; }
  .markdown-body .token.function,
  .markdown-body .token.class-name, .md .token.function,
  .md .token.class-name {
    color: #F43A3A; }
  .markdown-body .token.regex,
  .markdown-body .token.important,
  .markdown-body .token.variable, .md .token.regex,
  .md .token.important,
  .md .token.variable {
    color: #FF9E4D; }
  .markdown-body .token.important,
  .markdown-body .token.bold, .md .token.important,
  .md .token.bold {
    font-weight: bold; }
  .markdown-body .token.italic, .md .token.italic {
    font-style: italic; }
  .markdown-body .token.entity, .md .token.entity {
    cursor: help; }
