&
    color: rgba(black, 0.8) // 风格
    line-height: 1.75 // 风格
    max-width: 800px // 风格
    min-width: 200px
    margin: 0 auto
    padding: 0 20px // 风格
    font-size: 1rem // 风格
    margin-top: calc(56px + 5rem) // height(navBar) + margin(iWant)
    margin-bottom: 5rem // 需要调整
    overflow-x: hidden


    p
        margin: 1em 0


    b, strong
        font-weight: 500
        font-family: 'Noto Sans SC', sans-serif


    // 特征
    blockquote
        border: 1px solid rgba(black, 0.08)
        // background-color: rgba(black, 0.02)
        padding: 0px 20px
        // border-left: 2px solid rgba(black, 0.8)


    @import "h"
