@import "reset"

@import "fonts"

@import "color"

@import "mathjax"

*
    box-sizing: border-box


html
    scroll-behavior: smooth
    font-size: 16px


body
    overflow-x: hidden


img
    vertical-align: middle
    max-width: 100%
